<style>
    .del:checked + span {color:red};
    .task-list{list-style:none;}
</style>
<h3>Add Task</h3>

<form method="post" action="/task/add">
    <label for="task">Add task</label>
    <input type="text" name="task" placeholder="Add Task">

    <input type="submit" value="Submit">
</form>

<%= title %>

<form method="POST" action="/task/delete">
    <ul class="task-list">
        <% tasks.forEach(function(task) { %>
        <li>
            
            <label>
                <input type="checkbox" name="tasks" class="del" value="<%= task %>"><span><%= task %></span>
            </label>
        </li>
        <% }) %>
    </ul>
    <input type="submit" value="Remove">
</form>

<h3>Next Business Call</h3>
Name: <%= call.name %><br>
Company: <%= call.company %><br>
Phone: <%= call.phone %><br>
Time: <%= call.time %><br>

<h3>Edit Next Call</h3>
<form method="POST" action="/call/add">
    <label for="name">Contact name</label><br>
    <input type="text" name="name" placeholder="Task Name">
    <br><br>

    <label for="company">Company</label><br>
    <input type="text" name="company" placeholder="Company">
    <br><br>

    <label for="phone">Phone</label><br>
    <input type="text" name="phone" placeholder="Phone">
    <br><br>

    <label for="time">Day & Time</label><br>
    <input type="text" name="time" placeholder="Time">
    <br><br>

    <input type="submit" value="Submit">

</form>